<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%=listing.title%></h3>
  </div>

  <div class="card col-5 offset-3 show-card">
    <img
      src="<%=listing.image %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <i> <%= listing.description %> <br /> </i>
        Price: &#8377;<%= listing.price.toLocaleString("en-IN") %> <br />
        Location: <%= listing.location %> <br />
        Country: <%= listing.country %>
      </p>
    </div>
  </div>

  <div class="btns mb-3">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-3 edit-btn btn-sm"
      >Edit
    </a>

    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
      <button class="btn btn-dark offset-5 btn-sm">Delete</button>
    </form>
  </div>
</div>

<div class="col-8 offset-3">
  <hr />
  <h4>Leave a Review</h4>
  <form
    action="/listings/<%=listing._id%>/reviews"
    method="POST"
    novalidate
    class="needs-validation"
  >
    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating</label>
      <input
        type="range"
        min="1"
        max="5"
        id="rating"
        name="review[rating]"
        class="form-control"
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="comment">Comments</label>
      <textarea
        name="review[comment]"
        id="comment"
        cols="30"
        rows="3"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Please write some Review:</div>

      <button class="btn btn-outline-dark mt-3 btn-sm">Submit</button>
    </div>
  </form>
</div>

<!-- <ul>
      <li><%= listing.title %></li>
      <li></li>
      <li>&#8377;<%= listing.price.toLocaleString("en-IN") %></li>
      <li><%= listing.location %></li>
      <li><%= listing.country %></li>
  </ul> -->
